body {
    background-color: #E8F5FF;
}
.title{
    text-align: center;
    color: #3750B2;
}
.page_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
}
.left_wrap {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
    background-color: #fff;
    /* line-height: 30px; */
    box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.7);
}
.left_wrap label{
    display: inline-block;
    width: 200px;
    padding: 20px;
}
.left_wrap input{
    height: 25px;
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
}

.reg_in {
    text-align: center;
    text-transform: uppercase;
    font-size: 3vh;
    font-weight: bold;
    color: #3750B2;
}
.period_type {
    display: flex;
}
.btn_wrapper{
    display: flex;
    justify-content: center
}
button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #3750B2;
    color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
}
.right_wrap {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
    background-color: #fff;
    /* line-height: 30px; */
    box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.7);
}
.hori {
    border: 1px solid grey;
    width: 100%;
}
/* mobile */
@media only screen and (max-device-width: 768px) {
    .page_wrapper{
        flex-direction: column;
        width: 100%;
    }
    .left_wrap, .right_wrap {
        width: 100%;
        margin: 2px;
    }
    form div {
        margin-left: 15px;
    }
}

